<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="/">
        <i class="material-icons">
          chevron_right
        </i>
        Início
      </a>
      <a mat-list-item routerLink="sobre">
        <i class="material-icons">
          chevron_right
        </i>
        Sobre
      </a>
      <a mat-list-item>
        <i class="material-icons">
          chevron_right
        </i>
        Designer
      </a>
      <a mat-list-item>
        <i class="material-icons">
          chevron_right
        </i>
        Projetos
      </a>
      <a mat-list-item routerLink="contato">
        <i class="material-icons">
          chevron_right
        </i>
        Contato
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
